body:after {
            content: "";
            background-image:url('../img/bg.jpg');
            background-repeat:repeat;
            background-position:center;
            background-attachment:fixed;
            background-size:cover;
            opacity: 0.5;
           top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

.navbar-top{
  top: 0;
border-width: 0 0 1px;
position: absolute;
right: 0;
left: 0;
z-index: 1030;
border-radius:0;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
/*END HEADER*/

/*global*/
.line{
  border-left: 1px solid maroon;
margin: 0 5px;
padding: 0;
/* float: left; */
display: inline-block;
height: 35px;
vertical-align: middle;
}
.wrapper-header > h3{
  position: relative;
display:inline-block
}
.wrapper-header{
  padding-left:8em;
  margin-bottom:1.5em;
  text-align:left;
}

.btn{
  font-weight:400;
}
footer{
  zoom:1;
  overflow:hidden;
  text-align:center;
  background-image:url('http://www.2ndstagepartners.com/assets/footer-background-gray.jpg');
  color:white;
  font-weight:300;
  border-top: 1px solid rgb(206, 206, 206);
}
.sitemap-span > a{
  margin-left:1em;
  margin-right:1em;
  color:white;
  font-weight:300;
}
.spacer{
  padding:4em;
}
.spacer > img{
  margin-left:auto;
  margin-right:auto;
}
.copyright{
  font-size:14px;
}
/*end global*/

/*Index.html*/
section{
  zoom:1;
  overflow:hidden;
}

.top-home {
background-image: url('http://benkraw_bg.byethost32.com/webs/images/front.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 570px;
width: 100%;
color: #3c3c3c;
padding-left: 3em;
margin-top: 4%;
}

.top-home > h1{
  padding-top: 6em;
  font-weight:600;
  text-shadow: 1px 1px 25px white;
}
.top-home > h4{
  font-weight:400;
  max-width: 65%;
  text-shadow: 1px 1px 25px white;
}


/*END INDEX*/


.cust-container {
  margin-right: auto;
  width: 75%;
  zoom: 1;
  overflow: hidden;
  margin-bottom: 2%;
  float: left;
  margin-left: 2%;
}

.column{
  padding:0;
}
.above-top-framework{
  padding-top:62px;
  text-align:center;
  padding-bottom:3em;
  margin-top:2em;
}
.top-framework{
  text-align:center;
}
.small-icons{
  margin-left: auto;
margin-right: auto;
width: 70px;
height: 70px;
}
.inner{
  padding: 40px 20px 40px;
  text-align:center;
  color:white;
}
.inner > img{
  margin-left:auto;
  margin-right:auto;
  height: 120px;
}
.inner > p{
  font-size:13px;
}
.inner > h2{
  margin-bottom:20px;
}
.outer{
  background:#006BA6;
  height: 300px;
}
.dot:before{
  content:"";
  position:absolute;
  top:42%;
  left:-3px;
  width:9px;
  height:9px;
  background:#fff;
  border-radius:5px;
  -webkit-border-radius:5px;
  margin:6px 0 0;
}
.dot:after{
  content: "";
position: absolute;
top: 0;
height: 9999px;
background: #f00;
left: 0;
border-left: 2px solid #fff;
}


input, textarea, button { margin-top:10px }





/*--------Sean's Stuff--------------*/

/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */


body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}

.img-vertical-center {
    width: 55%;
    min-width: 175px;
    max-width: 300px;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 250px;
}

hr.large {
    height: 1px;
    width: 80%;
    color: #333;
    background-color: #333;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}



/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 5px 0;
}

.template-box {
	background-color: #EEEEEE;
	width: 50%;
	height: 80%;
}
